.node circle {
	  fill: #fff;
	  stroke: #999;
	  stroke-width: 3px;
	}
	
	.node circle:hover {
    cursor: pointer;
}
 
	.node text { 
	font: 12px sans-serif;
	text-shadow: 1px 1px #ffffff;
	 }
	 
	 .node text:hover { 
	cursor: pointer;
	 }
 
	.link {
	  fill: none;
	  stroke: #ccc;
	  stroke-width: 2px;
	}
	
	.link text { font: 12px sans-serif; }